/* font family */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* font-family: 'Roboto', sans-serif; */

/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-background:#EAECDD;
    --header-background: #f6f7f0;
    --h1-title-color : rgb(8 126 164) ;   
    --input-font-color : black;
    --input-background-color : #d2d3cf;
    --text-color: rgb(8 126 164);
    --btn-background : rgb(8 126 164);
    --btn-font-color: white;
    --hover-color: #b6b9ad
}

.dark-theme {
    --body-background: #343A46;
    --header-background: #23272F;
    --h1-title-color : #F6F7F9 ;
    --btn-background : white;
    --input-font-color : white;
    --input-background-color : #343A46;
    --text-color : white;
    --btn-font-color : #23272F;
    --hover-color : #444954
}

p  {
    color: var(--text-color);
}


.icon-tabler  {
    stroke: var(--text-color);
}

body {
    font-family: 'Roboto', sans-serif; 
    background-color: var(--body-background);
}



/* top navbar */
header {
    width: 100%;
    background-color: var(--header-background);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
    min-height: 10rem;
}

nav {
    min-height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 2rem 0rem 2rem;
}

.logo-img {
    height: 100%;
    cursor: pointer;
    min-width: 3.5rem;
    max-width: 6rem;
    aspect-ratio: inherit;
    width: 10%;
}



.navbar-title {
    color: var(--h1-title-color);
    font-size: 2rem;
    letter-spacing: 5px;
    text-align: center;
    width: 80%;
    
}

.title-logo-text {
    cursor: pointer;
}

/* top navbar ends here */

#logo {
    text-decoration: none;
    color: black;
}

.search-form {
    padding: 1rem;
    display: flex;
    width: 50%;
    min-width:fit-content;
}

.search-form input {
    font-size: 1.3rem;
    padding: 0.5rem ;
    width: 100%;
    border: none;
    /* border:2px solid var(--btn-background); */
    outline:none;
    background: var(--input-background-color);
    color: var(--input-font-color);
}

 button {
    border: none;
    padding: 0.3rem;
    font-size: 1rem;
    background-color:var(--btn-background) ;
    cursor: pointer;
    color: var(--btn-font-color);
}

.your-favorite {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--input-background-color);
}

.your-favorite div {
   color: var(--text-color);
   font-size: 1.3rem;
   font-weight: 500;
   flex:1;
   text-align: center;
   padding: 1rem 2rem;
   border: 1px solid var(--header-background);
}

.your-favorite div:hover{
    background-color: var(--hover-color);
}

.your-favorite div span {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.your-favorite div span:hover {
    text-decoration: underline;
}

.gallery-info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: gray;
   padding: 0.5rem 0rem;
}

.gallery-info a {
    color: var(--text-color);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 2rem 0rem;
    width: 80%;
    margin: auto;
    row-gap: 3rem;
    column-gap: 2rem;
    position: relative;
}

.gallery-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}


.image-div {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.gallery-img {
    transition: all 0.2s ease-in-out;
}

.gallery-img:hover {
   transform: scale(1.075);

}

.fa-heart {
    position: absolute;
    top: 10px ;
    left: 10px;
    font-size: 2rem;
    color: var(--h1-title-color);
    cursor: pointer;
}

.nav-button {
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more {
    padding: 1rem 3rem;
    background-color: var(--btn-background);
    color: var(--btn-font-color);
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}


.dark-light-mode {
    cursor: pointer;
    background-color: var(--body-background);
    outline: none;
    border: none;
    margin: auto;
}
.darkmode {
    display: none;
}

.enable-dark-mode .lightmode {
    display: none;
}
.enable-dark-mode .darkmode {
    display: flex;
}

.Warning-text {
    font-size: 1.5rem;
    grid-column: span 3;
    display: block;
    
}

.warning-red {
    color: red;
}

.fav-add-removed-warning {
    position: fixed;
   bottom: 3rem;
   right: 2.5rem;
   font-size: 2rem;
   padding: 0.5rem 1rem;
   background-color: var(--h1-title-color);
   color: var( --body-background);
   display: none;
   z-index: 20;
}

.img-details-modal{
 position: fixed;
font-size: 2rem;
background-color: var(--h1-title-color);
color: var( --body-background);
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;
background: rgba(0, 0, 0, 0.07);
color: red;
z-index: -10;
visibility: hidden;
transition: all 0.5s ease-in-out;


}   

.open-modal {
    visibility: visible;
    z-index: 10;
    display: grid;
    place-items: center;
}

.img-modal {
    width: 80%;
    height: 80%;
    background: var(--body-background);
    padding: 1rem;
    position: relative;
    overflow-y: scroll;

}
.img-modal-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-circle-xmark {
    cursor: pointer;
    color: var(--btn-background);
}

.img-modal-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    max-width: 90vw  ;

    margin-bottom: 10px;

}

.img-modal-bottom img{
    height: 100%;
    max-width: 100%;
}

.img-modal-last {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem 0;
}

.img-modal-last .btn{
       width: 105px;
       height: 35px;
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 5px;
       font-size: 12px;
}


.image-info {
    font-size: 1.1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-info div{
    display: flex;
    align-items: center;
}

.model-fav-icon {
    position: relative;
    top: 0 ;
    left: 0;

}

@media screen  and (max-width : 450px){
    nav {
        padding: 0.8rem 1rem 0rem 0.8rem;
    }

    .navbar-title {
       font-size: 1.5rem;
       letter-spacing: 2px;
       padding: 0rem 1rem;
    }

    .search-form input {
        font-size: 1rem;
        padding: 0.35rem ;
    }

    .icon-tabler {
        width: 2rem;
    }

    .more {
        padding: 0.8rem 2rem;
    }

    .gallery {
        grid-gap: 4rem 1rem;
    }

    .fav-add-removed-warning {
       
       bottom: 2rem;
       right: 1.5rem;
       font-size: 1.5rem;
       padding: 0.3rem 0.8rem;
       background-color: var(--h1-title-color);
       color: var( --body-background);
    }

    .your-favorite div {
        font-size: 1rem;
        padding:  0.8rem 0.4rem;
    }

       .img-modal {
        height: 50%;
       }


       .image-info {
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
       
    }

    
}